.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/
.ntvs_analysis.dat
GreedyFudge.njsproj
GreedyFudge.sln
GreedyFudge.v12.suo
bin/Microsoft.NodejsTools.WebRole.dll
obj/Debug/GreedyFudge.njsproj.FileListAbsolute.txt
obj/Debug/GreedyFudge.njsprojResolveAssemblyReference.cache
